    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-family: 'Poppins';
        background-color: #ffffff;
    }

    @font-face {
        font-family: Belleza;
        src: url(assets/Belleza-Regular.ttf);
    }

    @font-face {
        font-family: poppins;
        src: url(assets/Poppins-Regular.ttf);
    }

    header {

        position: fixed;
        top: -5vh;
        width: 100%;
        z-index: 1000;
        /* Garante que o cabeçalho fique acima de outros elementos */
        padding: 10px 0;
    }

    .container {
        display: flex;
        height: 19vh;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.396);
        width: 100%;
    }

    /* ESSA É A PARTE DE LOGO E TITULO SUNFLOWER */
    .logo-titulo {
        display: flex;
        margin-top: 2vh;
    }

    .imagem {
        max-width: 50%;
    }

    .imagem img {
        width: 50%;
        margin-left: 5vh;

    }

    .titulo {
        margin-top: 2.1vh;
        margin-left: 1vh;
        font-family: Belleza;
        font-weight: 300;
        font-size: 25px;

    }

    /* ESSA É A PARTE DE INICIO SOBRE ...... */
    #navegacao {
        display: flex;
        margin: 4vh;
        margin-top: 6vh;

    }

    #navegacao h3 {
        font-family: poppins;
        font-weight: 300;
    }

    #navegacao div {
        margin: 5vh;
        cursor: pointer;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: #333;
        display: none;
    }

    .modal {
        display: none;
        /* Oculta o modal inicialmente */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 40px;
        color: #333;
        cursor: pointer;
    }

    .modal ul {
        list-style: none;
        padding: 0;
        text-align: left;
        margin: 50px 30px;
    }

    .modal ul li {
        margin: 18px 0;
    }

    .modal ul li a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }

    .logoModal img {
        width: 85px;
    }

    .logoModal {
        margin-top: 40px;
    }

    /*JOGOS EDUCACIONAIS*/

    .jogos-educacionais {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .jogos-verde {
        width: 100%;
        max-width: 120%;
    }

    .jogos-imagem1 {
        position: absolute;
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 30%;
        /* Ajusta a largura para caber dentro do contêiner */
        max-width: 60%;
        /* Limita o tamanho máximo */
    }

    .text-jogos {
        position: absolute;
        font-family: 'Poppins';
        font-size: 43px;
        color: #000000A9;
        top: 30%;
        left: 300px;
    }

    .img-quiz {
        width: 250px;
        margin-top: 100px;
        margin-left: 200px;
    }

    .img-velha {
        width: 200px;
        margin-left: 1000px;
        margin-top: -200px;
    }

    .img-palavra {
        width: 300px;
        margin-left: 900px;
        margin-top: 100px;
    }

    .jogo-palavra h1 {
        margin-left: 300px;
        margin-top: -200px;
    }

    .jogo-palavra p {
        width: 1000px;
        margin-left: 100px;
    }

    .quiz-aprendizado p {
        margin-left: 700px;


    }

    .button-palavra {
        border: 2px solid #7ac9d0;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #7ac9d0;
        margin-left: 350px;
        margin-top: 20px;
    }

    .button-quiz {
        border: 2px solid #FED3DA;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #FED3DA;
        margin-left: 930px;
        margin-top: 20px;
    }

    .button-velha {
        border: 2px solid #AEEBD9;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #AEEBD9;
        margin-left: 350px;
        margin-top: 20px;
    }

    .button-memoria {
        border: 2px solid #D6DDED;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #D6DDED;
        margin-left: 980px;
        margin-top: 20px;
    }

    .quiz-aprendizado h1 {
        margin-top: -170px;
        margin-left: 130vh;
    }

    .jogo-velha h1 {
        margin-top: 200px;
        margin-left: 40vh;
    }

    .jogo-velha p {
        margin-top: 20px;
        margin-left: 100px;
    }

    .jogo-memoria h1 {
        margin-left: 120vh;
        margin-top: -170px;
    }

    .jogo-memoria p {
        margin-top: 20px;
        margin-left: 700px;
    }

    /*TEA*/
    .comeco-tea {
        margin-top: 200px;
    }

    .tea {
        font-size: 8vh;
        font-family: 'Poppins';
        margin-top: -30vh;
        margin-left: 40vh;

    }

    .transtorno {
        margin-left: 25vh;
    }

    .tea-coracao {
        width: 350px;
        height: auto;
        margin-left: 110vh;
    }

    /* Coração pulsante */
    .heart-image {
        /* Ajuste o tamanho conforme necessário */
        animation: pulse 4s infinite;
        /* Ajuste a duração para 2s para uma pulsação mais lenta */
    }

    /* Animação de pulsação */
    @keyframes pulse {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }
    }

    /*oque é*/

    .meio-pagina {
        width: 1510px;
        height: 400px;
        margin-top: 300px;
        background-color: #E8FAF0;
    }

    .h1-meio-pagina {
        font-family: 'Poppins';
        font-weight: 100;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 20px;

    }

    .quebra-cabeca1,
    .quebra-cabeca2,
    .quebra-cabeca3 {
        width: 50px;
        height: auto;
    }

    .quebra-cabeca1 {
        margin-left: 80px;
        margin-top: 30px;
    }

    .texto1 {
        margin-top: -40px;
        margin-left: 160px;
    }

    .quebra-cabeca2 {
        margin-left: 150px;
        margin-top: 40px;
    }

    .texto2 {
        margin-top: -40px;
        margin-left: 230px;
    }

    .quebra-cabeca3 {
        margin-left: 220px;
        margin-top: 50px;
    }

    .texto3 {
        margin-top: -50px;
        margin-left: 280px;
    }

    /*autismo nas escolas*/
    .autismo-escolas img {
        height: auto;
        width: 400px;
        margin-top: 200px;
    }

    .autismo {
        font-size: 35px;
        margin-top: -300px;
        margin-left: 60px;
    }

    .bolinha1,
    .bolinha2,
    .bolinha3 {
        border: 2px solid #FED3DA;
        background-color: #FED3DA;
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }

    .bolinha1 {
        margin-top: -110px;
        margin-left: 600px;
    }

    .texto-1 {
        margin-left: 650px;
        margin-top: -22px;

    }

    .bolinha2 {
        margin-top: 45px;
        margin-left: 600px;

    }

    .texto-2 {
        margin-left: 650px;
        margin-top: -20px;
    }

    .bolinha3 {
        margin-top: 40px;
        margin-left: 600px;
    }

    .texto-3 {
        margin-left: 650px;
        margin-top: -22px;
    }

    /*Doenças*/

    .final {
        width: 100%;
        margin-top: 303px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .linha1,
    .linha2 {
        width: 500px;
        height: 50px;
    }

    .doencas-invisiveis {
        width: 10%;
    }

    .p-doencas {
        font-size: 25px;
        font-family: 'Poppins';
        font-weight: 100;
    }


    .quadrados-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 80px;
    }

    .quadrado {
        width: 150px;
        height: 150px;
        background-color: #FFE3AE;
        border: 1px solid #FFBE40;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 15px;
        transition: background-color 0.3s;
        position: relative;
        font-size: 18px;
        text-align: center;
        justify-content: center;
        font-family: 'Poppins';
        transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
        /* Adicionando transições */
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Efeito de relevo */
    }

    .quadrado:hover {
        background-color: #ffbf405b;
        transform: translateY(-2px);
        /* Leve movimento para cima ao passar o mouse */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        /* Sombras mais intensas ao passar o mouse */
    }

    .info {
        position: absolute;
        top: -50px;
        /* Posiciona acima do quadrado */
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 230px;
        background-color: #fff;
        border: 2px solid #FFCB67;
        color: black;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        z-index: 1;
        /* Certifica-se de que o quadrado informativo esteja acima */
    }

    /* FOOTER */

    .girassol {
        margin-top: 20VH;
    }

    .rodape {
        text-align: center;
        align-items: center;
        display: flex;
        margin-top: 7vh;
        width: 96vh;
        margin-left: 56vh;
        justify-content: space-around;
    }

    footer {
        text-align: center;
        align-items: center;
        flex-direction: column;

    }

    a {

        text-decoration: none;
        color: #000000;
    }


    .linha {
        width: 202vh;
        margin-top: 8vh;
        border: none;
        height: 2px;
        background-color: #D7D7D7;

    }

    .ultimo-texto p {
        margin-top: 10vh;
        color: #8F8F8F;
    }


    @media (max-width: 720px) {
        .menu-icon {
            display: block;
            margin: 2vh 5vh 0 0;
        }

        .imagem img {
            width: 45%;
        }

        .container {
            height: 16vh;
        }

        .logo-titulo {
            display: flex;
            align-items: center;
        }

        .titulo {
            margin: 0;
        }

        #navegacao {
            display: none;

        }


        .jogos-educacionais {
            position: relative;
            display: block;
            width: 100%;
            margin: 20px auto;
        }

        .jogos-verde {
            width: 100%;
            max-width: 720px;
            height: auto;
            margin: 10px auto;
        }

        .jogos-imagem1 {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35%;
            max-width: 150px;
        }

        .jogo-velha {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }

        .jogo-memoria,
        .jogo-palavra,
        .quiz-aprendizado {
            width: 100%;
            margin: 0;
        }

        .text-jogos {
            position: absolute;
            font-family: 'Poppins', sans-serif;
            font-size: 1.8rem;
            color: rgba(0, 0, 0, 0.66);
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        .img-quiz {
            width: 80%;
            max-width: 250px;
            margin: 20px auto;
            display: block;
        }

        .button-quiz {
            margin: 15px auto;
            display: flex;
            justify-content: center;
        }

        .p-quiz {
            font-size: 0;
            /* Mantém oculto */
        }

        .quiz-aprendizado h1 {
            text-align: center;
            margin: 20px auto;
            font-size: 1.8rem;
        }

        .img-velha {
            width: 70%;
            max-width: 200px;
            margin: 20px auto;
            display: block;
        }

        .jogo-velha p {
            font-size: 0;
            /* Mantém oculto */
        }

        .jogo-velha h1 {
            font-size: 1.5rem;
            text-align: center;
            margin: 20px auto;

        }

        .button-velha {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }

        .jogo-palavra p {
            font-size: 0;
            /* Mantém oculto */
        }

        .img-palavra {
            width: 80%;
            max-width: 250px;
            margin: 20px auto;
            display: block;
        }

        .jogo-palavra h1 {
            font-size: 1.8rem;
            text-align: center;
            margin: 10px auto;
        }

        .button-palavra {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }

        .jogo-memoria p {
            font-size: 0;
            /* Mantém oculto */
        }

        .jogo-memoria h1 {
            font-size: 1.8rem;
            text-align: center;
            margin: 20px auto;
        }

        .button-memoria {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }

        /*RODAPÉ*/
        .rodape {
            margin: 0;
            width: 100%;
        }


        .girassol {
            margin-top: 30vh;
        }

        footer {
            display: flex;
            font-size: 2;
            top: 8vh;
        }

        .ultimo-texto {
            padding: 0.75vh;
        }

        .linha {
            width: 67vh;


        }
    }