    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-family: 'Poppins';
        background-color: #ffffff;
    }

    @font-face {
        font-family: Belleza;
        src: url(assets/Belleza-Regular.ttf);
    }

    @font-face {
        font-family: poppins;
        src: url(assets/Poppins-Regular.ttf);
    }

    header {

        position: fixed;
        top: -5vh;
        width: 100%;
        z-index: 1000;
        /* Garante que o cabeçalho fique acima de outros elementos */
        padding: 10px 0;
    }

    .container {
        display: flex;
        height: 19vh;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.396);
        width: 100%;
    }

    /* ESSA É A PARTE DE LOGO E TITULO SUNFLOWER */
    .logo-titulo {
        display: flex;
        margin-top: 2vh;
    }

    .imagem {
        max-width: 50%;
    }

    .imagem img {
        width: 50%;
        margin-left: 5vh;

    }

    .titulo {
        margin-top: 2.1vh;
        margin-left: 1vh;
        font-family: Belleza;
        font-weight: 300;
        font-size: 25px;

    }

    /* ESSA É A PARTE DE INICIO SOBRE ...... */
    #navegacao {
        display: flex;
        margin: 4vh;
        margin-top: 6vh;

    }

    #navegacao h3 {
        font-family: poppins;
        font-weight: 300;
    }

    #navegacao div {
        margin: 0vh;
        cursor: pointer;
        margin-right: 10vh;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: #333;
        display: none;
    }

    .modal {
        display: none;
        /* Oculta o modal inicialmente */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;
        position: relative;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 40px;
        color: #333;
        cursor: pointer;
    }

    .modal ul {
        list-style: none;
        padding: 0;
        text-align: left;
        margin: 50px 30px;
    }

    .modal ul li {
        margin: 18px 0;
    }

    .modal ul li a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
    }

    .logoModal img {
        width: 85px;
    }

    .logoModal {
        margin-top: 40px;
    }

    /*JOGOS EDUCACIONAIS*/

    .jogos-educacionais {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    .jogos-verde {
        width: 100%;

    }

    .jogos-imagem1 {
        position: absolute;
        top: 40%;
        left: 80%;
        transform: translate(-50%, -50%);
        width: 30%;
        /* Ajusta a largura para caber dentro do contêiner */
        max-width: 60%;
        /* Limita o tamanho máximo */
    }

    .text-jogos {
        position: absolute;
        font-family: 'Poppins';
        font-size: 43px;
        color: #000000A9;
        top: 30%;
        left: 300px;
    }


    .button-palavra {
        border: 2px solid #7ac9d0;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #7ac9d0;
        margin-top: 20px;
        margin-left: 260px;
    }

    .button-quiz {
        border: 2px solid #FED3DA;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #FED3DA;
        margin-top: 20px;
    }

    .button-velha {
        border: 2px solid #AEEBD9;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #AEEBD9;
        margin-top: 20px;
    }

    .button-memoria {
        border: 2px solid #D6DDED;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        background-color: #D6DDED;
        margin-top: 20px;
    }

    .quiz-aprendizado {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .quizDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .p-quiz {
        margin: 20px 0;
    }

    .velhaDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }

    .jogo-velha {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .p-velha {
        margin: 30px 0;
    }

    .jogo-velha h1 {
        margin-top: 40px;
    }

    .jogo-palavra h1 {
        margin-left: 200px;
    }

    .memoriaDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 110px;
    }

    .jogo-memoria {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .p-memoria {
        margin: 20px 0;
    }

    .palavraDiv {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .jogo-palavra {
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .p-palavra {
        margin: 20px 0;
    }

    .img-palavra {
        /* margin-left: 700px; */
        width: 350px;
        /* margin-top: 50px; */
    }

    .img-memoria {
        width: 300px;
        margin-top: 100px;
    }

    .img-quiz {
        width: 350px;
        margin-top: 100px;
    }

    .img-quiz {
        width: 300px;
        margin-top: 100px;
    }


    /* FOOTER */

    .girassol {
        margin-top: 20VH;
    }

    .rodape {
        text-align: center;
        align-items: center;
        display: flex;
        margin-top: 7vh;
        width: 96vh;
        margin-left: 56vh;
        justify-content: space-around;
    }

    footer {
        text-align: center;
        align-items: center;
        flex-direction: column;

    }

    a {

        text-decoration: none;
        color: #000000;
    }


    .linha {
        width: 202vh;
        margin-top: 8vh;
        border: none;
        height: 2px;
        background-color: #D7D7D7;

    }

    .ultimo-texto p {
        margin-top: 10vh;
        color: #8F8F8F;
    }


    @media (max-width: 720px) {
        .menu-icon {
            display: block;
            margin: 2vh 5vh 0 0;
        }

        .imagem img {
            width: 45%;
        }

        .container {
            height: 16vh;
        }

        .logo-titulo {
            display: flex;
            align-items: center;
        }

        .titulo {
            margin: 0;
        }

        #navegacao {
            display: none;

        }


        .jogos-educacionais {
            position: relative;
            display: block;
            width: 100%;
            margin: 20px auto;
        }

        .jogos-verde {
            width: 100%;
            max-width: 720px;
            height: auto;
            margin: 20px auto;
        }

        .jogos-imagem1 {
            position: absolute;
            top: 65%;
            transform: translate(-50%, -50%);
            width: 35%;
            max-width: 150px;
        }

        .jogo-velha {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }

        
        .jogo-palavra {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }

        .jogo-memoria,

        .quiz-aprendizado {
            width: 100%;
            flex-direction: column;
            margin: 0;
        }

        .quizDiv,
        .memoriaDiv,
        .velhaDiv,
        .palavraDiv {
            margin-top: 0;
        }

        .text-jogos {
            position: absolute;
            font-family: 'Poppins', sans-serif;
            font-size: 1.2rem;
            color: rgba(0, 0, 0, 0.66);
            top: 30%;
            left: 40%;
            transform: translateX(-50%);
            text-align: center;
        }



        .button-quiz {
            margin: 15px auto;
            display: flex;
            justify-content: center;
        }


        .quiz-aprendizado h1 {
            text-align: center;
            margin: 20px auto;
            font-size: 1.8rem;
        }

        .img-velha {
            width: 60%;
            max-width: 180px;
            margin: 20px auto;
            display: block;
        }

        .img-palavra {
            margin-top: 100px;
            width: 80%;
            max-width: 250px;
            margin: 20px auto;
            display: block;
        }

        .img-quiz {
            width: 80%;
            max-width: 250px;
            margin: 20px auto;
            display: block;
        }

        .img-memoria {
            width: 80%;
            max-width: 200px;
            margin: 20px auto;
            display: block;
        }

        .jogo-velha p,
        .jogo-palavra p,
        .jogo-memoria p,
        .p-quiz {
            font-size: 0;
            /* Mantém oculto */
        }



        .button-velha {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }


        .jogo-palavra h1,
        .jogo-memoria h1,
        .jogo-velha h1,
        .quiz-aprendizado h1 {
            font-size: 25px;
            text-align: center;
            margin: 10px auto;
        }

        .button-palavra {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }




        .button-memoria {
            margin: 20px auto;
            display: flex;
            justify-content: center;
        }

        /*RODAPÉ*/
        .rodape {
            margin: 0;
            width: 0;
        }


        .girassol {
            margin-top: 30vh;
        }

        footer {
            display: flex;
            font-size: 0;
            top: 8vh;
            width: 100%;
        }

        .ultimo-texto {
            padding: 0.75vh;
        }

        .linha {
            width: 100%;


        }
    }