body {
    font-size: 0.9rem;
    color: #262734;
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #b4224f transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.exibir-overflow-y {
    max-height: 80vh;
    overflow-y: scroll;
}

#components-reconnect-modal {
    display: none;
}

    #components-reconnect-modal.components-reconnect-show {
        display: block;
    }


.validation-errors > li.validation-message {
    color: #ff0000;
}

.modal-content {
    border-radius: 1rem;
}
